<a href="https://colab.research.google.com/github/seoyoons/college/blob/main/1%EC%9E%A5_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1번

In [ ]:
print("환영합니다.")
print("파이썬의 세계에 오신 것을 환영합니다.")
print("파이썬은 강력합니다.")

환영합니다.
파이썬의 세계에 오신 것을 환영합니다.
파이썬은 강력합니다.

2번

In [ ]:
print("반갑습니다. 파이썬!")
print(2*3/10)
print("Hello", "world", "!!!")

반갑습니다. 파이썬!
0.6
Hello world !!!

3번

In [ ]:
print(7*24)

168

4번 1번째 방법

In [ ]:
import turtle
>>> t = turtle.Turtle()
>>> t.shape("turtle")  
>>> t.forward(100);
>>> t.left(90)
>>> t.forward(100);
>>> t.right(90)
>>> t.forward(100);
>>> t.right(90)
>>> t.forward(100);
>>> t.left(90)
>>> t.forward(100);

4번 2번째 방법

In [ ]:
>>> from turtle import *
>>> shape("turtle")
>>> forward(100)
>>> left(90)
>>> forward(100)
>>> right(90)
>>> forward(100)
>>> right(90)
>>> forward(100)
>>> left(90)
>>> forward(100)
>>> write("종료하려면 화면클릭")
>>> exitonclick()

5번

In [ ]:
import turtle
>>> t = turtle.Turtle()
>>> t.shape("turtle")
>>> t.width(10)
>>> t.forward(100)
>>> t.left(90)
>>> t.forward(100)
>>> t._screen.exitonclick()

6번

In [ ]:
import turtle
>>> t = turtle.Turtle()
>>> t.shape("turtle")
>>> t.color("blue")
>>> t.forward(100)
>>> t._screen.exitonclick()

7번

In [ ]:
import turtle
>>> t = turtle.Turtle()
>>> t.shape("turtle")
>>> t.shape("square")
>>> t.forward(100)
>>> t._screen.exitonclick()

8번

In [ ]:
import turtle
>>> t = turtle.Turtle()
>>> t.shape("turtle")
>>> t.up()
>>> t.goto(0, 0)
>>> t.down()
>>> t.forward(100);
>>> 
>>> t.up()
>>> t.goto(0, 100)
>>> t.down()
>>> t.forward(100)
>>> t._screen.exitonclick()

9번

In [ ]:
import turtle
>>> t = turtle.Turtle()
>>> t.shape("turtle")
>>> 
>>> t.up(); t.goto(-150,0); t.down(); t.circle(80)
>>> t.up(); t.goto(0, 0); t.down(); t.circle(80)
>>> t.up(); t.goto(150,0); t.down(); t.circle(80)
>>> t.up(); t.goto(-80, -100); t.down(); t.circle(80)
>>> t.up(); t.goto(80,-100); t.down(); t.circle(80)
>>> t._screen.exitonclick()

10번

In [ ]:
print("강아지"+"고양이")
print('강아지'+'고양이')  #문자열을 사용할 때는 쌍따옴표와 홑따옴표를 사용할 수 있다.
print("강아지"*20)
print(100+200)
print("100"+"200")  #문자열과 문자열이라서 100, 200이 연속으로 나온다.

강아지고양이
강아지고양이
강아지강아지강아지강아지강아지강아지강아지강아지강아지강아지강아지강아지강아지강아지강아지강아지강아지강아지강아지강아지
300
100200

11번

In [ ]:
print("안녕하세요? 파이썬에 오신 것을 환영합니다.")
print("안녕"+str(3))  #str의 경우, 문자형으로 변환한다. str뿐만 아니라 "3"으로도 가능하다.

안녕하세요? 파이썬에 오신 것을 환영합니다.
안녕3

12번

In [ ]:
import turtle
>>> t = turtle.Turtle()
>>> t.shape("turtle")
>>> t. forward(100)
>>> t.left(90)
>>> t.forward(50)

13번

In [ ]:
import turtle
>>> t = turtle.Turtle()
>>> t.shape("turtle")
>>> 
>>> t.forward(100)
>>> t.left(90)
>>> t.forward(50)
>>> t.right(90)
>>> t.fd(100)